.container{
    margin: 70px;
}
input[type="submit"] {
    background: #ff3366;
    color: #FFF;
    /*font-size: 26px;*/
    padding: 0.3em 1.2em;
    /*width: 100%;*/
    font-weight: 500;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
}
input[type="submit"]:hover {
    background: #b5183f;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #b5183f;
    border-color: #ff3366;
}